@import 'tailwindcss';

:root {
  --primary: #6d5ef5;
  --secondary: #4f8cff;
  --accent: #a855f7;
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
