@import "tailwindcss";

:root {
  --primary: #6D5EF5;
  --secondary: #4F8CFF;
  --accent: #A855F7;
}

body {
  margin: 0;
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
